<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidqdemo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 粗略的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 精确的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".manager.tinker.Appdemo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".ac.MainActivity">
        </activity>
        <activity android:name=".WelComeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
        <activity android:name=".ac.AndroidQActivity" />
        <activity android:name=".ac.StatusActivity" />
        <activity android:name=".ac.CacheActivity" />
        <activity android:name=".ac.DownLoadPicActivity" />
        <activity android:name=".ac.LocationActivity" />
        <activity android:name=".ac.WebViewActivity" />
        <activity android:name=".ac.WebSocketActivity" />
        <activity android:name=".ac.EditextRecyclerViewPicActivity"     android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".ac.MainTabActivity" />
        <activity android:name=".ac.DisaptchActivity" />
        <activity android:name=".ac.PluginActivity" />
        <activity android:name=".ac.ProxyActivity"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".ac.HotFixActivity" />
        <activity android:name=".ac.HotFixDetailActivity" />
        <activity android:name=".ac.HotFix2DetailActivity" />

        <meta-data
            android:name="com.example.androidqdemo.base.util.MyAppGlideModule"
            android:value="GlideModule" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.androidqdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver android:name="com.example.androidqdemo.receiver.MainReceiver">
            <intent-filter>
                <action android:name="com.plugin.send"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>