<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidqdemo">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 粗略的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 精确的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--安装外部应用-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <activity android:name=".WelComeActivity" android:exported="true">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
        <activity android:name=".ac.MainActivity">
        </activity>
        <activity android:name=".ac.AndroidQActivity" />
        <activity android:name=".ac.StatusActivity" />
        <activity android:name=".ac.CacheActivity" />
        <activity android:name=".ac.DownLoadPicActivity" />
        <activity android:name=".ac.LocationActivity" />
        <activity android:name=".ac.WebViewActivity" />
        <activity android:name=".ac.WebSocketActivity" />
        <activity android:name=".ac.EditextRecyclerViewPicActivity"     android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".ac.MainTabActivity" />
        <activity android:name=".ac.DisaptchActivity" />
        <activity android:name=".ac.PluginActivity" />
        <activity android:name=".ac.ProxyActivity"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".ac.HotFixActivity" />
        <activity android:name=".ac.HotFixDetailActivity" />
        <activity android:name=".ac.HotFix2DetailActivity" />
        <activity android:name=".ac.IncreatUpdateActivity" />
        <activity android:name=".ac.Viewpager2Activity" />
        <activity android:name=".ac.AspActivity" />
        <activity android:name=".ac.ViewActivity" />
        <activity android:name=".ac.FlutterBaseActivity" />
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ac.VideoActivity"  android:configChanges="orientation|keyboardHidden|screenSize" />

        <meta-data
            android:name="com.example.androidqdemo.base.util.MyAppGlideModule"
            android:value="GlideModule" />

        <!--1024  763 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="960"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.androidqdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver android:name="com.example.androidqdemo.receiver.MainReceiver">
            <intent-filter>
                <action android:name="com.plugin.send"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>